:host{
    position: relative;
    float:right;
    z-index: 1;
}
.ellipsis{
    padding: 0.2em 0.5em 0 0.5em;
    border-radius: 0.625em 0.625em 0 0;
    background: white;
    overflow: hidden;
    color: #C4C4C4;
    &.expanded{
        color: #4E4E4E;
        box-shadow: 0px 0px 0.75em 0.125em rgba(0, 0, 0, 0.15);
    }
}
.connector{
    position: absolute;
    background: white;
    top: 1.2em;
    width: 1.875em;
    height: 0.95em;
}
.horizontal-connector{
    position: absolute;
    background: white;
    top: 1.22em;
    width: 5em;
    height: 0.9em;
    right: 0;
}
.dropdown{
    z-index: -1;
    overflow: hidden;
    position: absolute;
    background: white;
    padding: 0.6em 0 0 0;
    border-radius: 0.625em 0 0.625em 0.625em;
    box-shadow: 0px 0px 0.75em 0.125em rgba(0, 0, 0, 0.15);
    right: 0;
    .dropdown-item{
        cursor: pointer;
        user-select: none;
        min-width: 5em;
        text-align: center;
        padding: 0.2em 0.4em;
        border-bottom: 0.125em solid #ECECEC;
        color: #C4C4C4;

        &:hover{
            color: #3D82EB;
        }
    }
}